if WACKYMXTER_LEFT

config ZMK_KEYBOARD_NAME
    default "WackyMXter"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if WACKYMXTER_LEFT || WACKYMXTER_RIGHT

config SPI
    default y
    
config ZMK_SPLIT
    default y

config ZMK_KSCAN_COMPOSITE_DRIVER
    default y

endif
