#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label= "BASE";
            bindings = <
                &kp TILDE      &kp N1      &kp N2      &kp N3      &kp N4     &kp N5         &kp HOME      &kp BSPC       &kp N0      &kp N9      &kp N8      &kp N7     &kp N6         &kp END  
                &kp TAB        &kp Q       &kp W       &kp E       &kp R      &kp T          &kp END       &kp BACKSLASH  &kp P       &kp O       &kp I       &kp U      &kp Y          &kp RBKT
                &kp CAPS       &kp A       &kp S       &kp D       &kp F      &kp G          &kp KP_MINUS  &kp SQT        &kp SEMI    &kp L       &kp K       &kp J      &kp H          &kp EQUAL
                &kp LSHFT      &kp Z       &kp X       &kp C       &kp V      &kp B          &kp ENTER     &kp RSHFT      &kp UP      &kp PERIOD  &kp COMMA   &kp M      &kp N          &kp BSPC
                &kp LCTRL      &kp LGUI    &kp LGUI    &kp LALT    &kp SPACE  &kp ESC                      &kp RIGHT      &kp DOWN    &kp LEFT    &kp SLASH   &kp SPACE  &kp BSPC 
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

    };
};
